#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #e3d0e0;
  background-color: #404565;
}

body {
  max-width: 100%;
  margin: 0;
  display: flex;
  place-items: center;
  background-color: #404565;
}

hr {
  color: #8590c0;
  margin: 2px;
  margin-bottom: 10px;
}

h1 {
  font-family: 'Mr Bedfort';
}

h2#description {
  font-family: 'Germania One', cursive;
  font-size: 18px;
  margin-top: 0;
}

.quote {
  font-family: 'Passions Conflict', cursive;
  font-size: 28px;
  line-height: 20px;
}

div.card {
  background-color: #e3d0e0;
  min-width: 200px;
  max-width: 250px;
  max-height: 500px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

div.card-title.h5 {
  color: #616691;
  font-family: 'Germania One', cursive;
  font-size: 30px;
}

div.card-body {
  padding-top: 0;
}

.card-text {
  color: #616691;
  font-family: 'Lumanosimo';
  font-size: 13px;
  margin-bottom: 0;
}

.horns {
  margin: 5px
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

div.search-fuzzies {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 5px;
  font-family: 'Germania One', cursive;
}

.fuzzy {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 25px;
}

input.searchBar {
  font-family: 'Lumanosimo';
  font-size: 10px;
  text-align: center;
  margin-bottom: 5px;
}

div.horn-filter {
  display: flex;
  justify-content: center;
  align-content: center;
  margin-bottom: 5px;
  font-family: 'Germania One', cursive;
}

.horn {
  margin-right: 5px;
  margin-bottom: 5px;
  line-height: 25px;
}

select.horn-select {
  font-family: 'Lumanosimo';
  font-size: 10px;
  text-align: center;
  margin-bottom: 5px;
  height: 25px;
  cursor: pointer;
}

.horned-beast {
  height: 200px;
  padding: 10px;
  background-color: #e3d0e0;
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal-content {
  text-align: center;
  align-self: center;
  max-width: 340px;
  max-height: 600px;
}

.modal-image {
  max-width: 300px;
  max-height: 300px;
}

div.modal-header {
  padding-bottom: 0;
}

.modal-title.h4 {
  color: #616691;
  font-family: 'Germania One', cursive;
  font-size: 30px;
  margin-bottom: 0;
}

.modal-text {
  color: #616691;
  font-family: 'Lumanosimo';
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.btn.btn-secondary {
  background-color: #404565;
  color: #e3d0e0;
  border: none;
  flex-wrap: wrap;
}

.btn.btn-secondary:hover {
  color: #FF8CB2;
  background-color: #e3d0e0;
}

.card-body {
  background-color: #e3d0e0;
}

.icon-container {
  position: relative;
}

.heart-icon {
  font-size: 25px;
  cursor: pointer;
  margin-right: 5px;
  /* transition: color 0.2s; */
  /* transition: 0.9s; */
}

.heart-icon:hover {
  animation: runAwayAnimation 2s ease;
  color: #FF8CB2;
}

@keyframes runAwayAnimation {
  0% {
    transform: translateX(0);
    color: #FF8CB2;
  }
  25% {
    transform: translatex(100px);
    color: #FF8CB2;
  }
  /* 50% {
    transform: translateX(-40px);
    color: #FF8CB2;
  } */
  75% {
    transform: rotate(180deg);
    color: #FF8CB2;
  }
  100% {
    transform: translateX(-120px);
    color: #FF8CB2;
  }
}

.btn.btn-primary:hover {
  color: #FF8CB2;
  background-color: #e3d0e0;
}

.btn.btn-primary {
  color: #404565;
  background-color: #e3d0e0;
  border: none;
  /* margin-left: 80px; */
  /* justify-content: center;
  display: flex; */
  flex-wrap: wrap;
}