#root {
  max-width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: #e3d0e0;
  background-color: #404565;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

hr {
  color: #8590c0;
}

h1 {
  font-family: 'Mr Bedfort';
}

h2#description {
  font-family: 'Germania One', cursive;
  font-size: 18px;
  margin-top: 0;
}

div.card {
  background-color: #e3d0e0;
  min-width: 200px;
  max-width: 250px;
  max-height: 500px;
  margin: 10px;
  display: flex;
  justify-content: center;
}

div.card-title.h5 {
  color: #616691;
  font-family: 'Germania One', cursive;
  font-size: 30px;
}

div.card-body {
  padding-top: 0;
}

.card-text {
  color: #616691;
  font-family: 'Lumanosimo';
  font-size: 13px;
  margin-bottom: 0;
}

.horns {
  margin: 5px
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.search-fuzzies {

}

.horned-beast {
  height: 200px;
  padding: 10px;
  background-color: #e3d0e0;
}

.modal-dialog-centered {
  display: flex;
  justify-content: center;
  align-content: center;
}

.modal-content {
  text-align: center;
  align-self: center;
  max-width: 340px;
  max-height: 600px;
}

.modal-image {
  max-width: 300px;
  max-height: 300px;
}

div.modal-header {
  padding-bottom: 0;
}

.modal-title.h4 {
  color: #616691;
  font-family: 'Germania One', cursive;
  font-size: 30px;
  margin-bottom: 0;
}

.modal-text {
  color: #616691;
  font-family: 'Lumanosimo';
  margin-top: 10px;
  margin-bottom: 0;
  text-align: center;
}

.btn.btn-secondary {
  background-color: #404565;
  color: #e3d0e0;
  border: none;
  flex-wrap: wrap;
}

.btn.btn-secondary:hover {
  color: #FF8CB2;
  background-color: #e3d0e0;
}

.card-body {
  background-color: #e3d0e0;
}

.icon-container {
  position: relative;
}

.heart-icon {
  font-size: 25px;
  cursor: pointer;
  margin-right: 5px;
  /* transition: color 0.2s; */
  /* transition: 0.9s; */
}

.heart-icon:hover {
  animation: runAwayAnimation 2s ease;
  color: #FF8CB2;
}

@keyframes runAwayAnimation {
  0% {
    transform: translateX(0);
    color: #FF8CB2;
  }
  25% {
    transform: translatex(100px);
    color: #FF8CB2;
  }
  /* 50% {
    transform: translateX(-40px);
    color: #FF8CB2;
  } */
  75% {
    transform: rotate(180deg);
    color: #FF8CB2;
  }
  100% {
    transform: translateX(-120px);
    color: #FF8CB2;
  }
}

.btn.btn-primary:hover {
  color: #FF8CB2;
  background-color: #e3d0e0;
}

.btn.btn-primary {
  color: #404565;
  background-color: #e3d0e0;
  border: none;
  /* margin-left: 80px; */
  /* justify-content: center;
  display: flex; */
  flex-wrap: wrap;
}